<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spørgeskema</title>
  <link rel="stylesheet" href="styling1.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <h2>Spørgsmål 1</h2>
      <p>Tekst til spørgsmål </p>
      <label class="answer-option">
        <input type="radio" v-model="selectedAnswer" value="Rød"> Valgmulighed 1
      </label>
      <label class="answer-option">
        <input type="radio" v-model="selectedAnswer" value="Blå"> Valgmulighed 2
      </label>
      <label class="answer-option">
        <input type="radio" v-model="selectedAnswer" value="Grøn"> Valgmulighed 3
      </label>
      <div>
        <button class="back-button" @click="goBack">Tilbage</button>
        <button class="next-button" @click="goNext">Frem</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="vue1.js"></script>
</body>
</html>